<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Payment</h1>
</div>

<div class="container">
    <div class="card mt-4">
        <div class="thumbnail">
            <img src="static/img/patmentMethodBig.png" title="Payment Methods" alt="Payments Methods">

        </div>

        <form action="/paymentMethod" method="post" id="formPayment">
            <p style="font-size:30px">Pick payment method:</p>
            <div>
                <input type="radio" id="payPal"
                       name="paymentMethod" value="payPal" checked>
                <label for="payPal" style="font-size: 25px;" >PayPal</label>

                <input type="radio" id="creditCard"
                       name="paymentMethod" value="CreditCard">
                <label for="creditCard" style="font-size: 25px;">Credit Card</label>


            </div>

                <button class="btn btn-primary mt-5 btn-lg" type="submit" id="payButton" >PAY</button>

        </form>

        <div id="rightSide" style="font-size:30px; color: red" th:text="${'Cart Subtotal: '+ sum + ' USD'}"> </div>
        <div>
        <img src="static/img/cart_big.png" title="cart" alt="cart" style="position: absolute; right: 30px; top: 15px">
        </div>
    </div>


</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>